.header {
    background-color: var(--blue-primary);
    color: var(--white-primary);
    display: flex;
    justify-content: center;
}

.header__container {
    width: 100%;
    max-width: var(--max-witdh-screen);
    margin: 10px 0px 100px 0px;
}

.header__list {
    display: flex;
    gap: 1rem;
}

.header__list-item {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.9rem;
    padding: 6px 12px;
    border-radius: 25px;
}

.header__list-item.active {
    outline: 1px solid var(--white-primary);
    background-color: #1a4a8d;
}

.header__list-item:hover {
    outline: 1px solid #1a4a8d;
    background-color: #1a4a8d;
    cursor: pointer;
}