.navbar {
    height: 4rem;
    background-color: var(--blue-primary);
    display: flex;
    justify-content: center;
}

.navbar__container {
    width: 100%;
    max-width: 1024px;
    color: var(--white-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    font-weight: 800;
    font-size: 1.25rem;
}

.navbar__items {
    display: flex;
    gap: 0.75rem;
}

.navbar__button {
    font-size: 0.9rem;
    padding: 0.25rem 0.50rem;
    outline: 1px solid var(--white-primary);
    color: var(--white-primary);
    cursor: pointer;
    background-color: var(--blue-primary);
}

.navbar__button:hover {
    background-color: var(--white-primary);
    color: var(--blue-primary);
    outline: none;
}

