:root {
  --blue-primary: #003580;
  --blue-secondary: #1a4a8d;
  --blue-third: #2467c6;
  --white-primary: #ececec;
  --max-witdh-screen: 1024px;

  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

/* Styles for the date range */
.rdrCalendarWrapper, .rdrMonths, .rdrMonthsVertical, .rdrMonthAndYearWrapper {
  background-color: #00358012;
}